<section>
  <h1>ToDo with Angular2</h1>

  <div>
    New Task:
    <input type="textbox" placeholder="What needs to be done?" autofocus #newtodo (keyup)="enterTask($event)">
  </div>

  <h2>Existing Tasks</h2>
  <ul>
    <li *For="#task of tasks">
      <input type="checkbox" [checked]="task.isDone" (click)="toggleState(task)"/>
      {{ task.name }}
    </li>
  </ul>
</section>

<section>
  <fieldset>
    <legend>
      Actions
    </legend>
    <div>
      <button (click)="allDone()">Mark all as done</button>
      <button (click)="removeDone()">Delete completed tasks</button>
    </div>
  </fieldset>
</section>
