<p>My name: {{ persons[0] }}</p>
<p *if="persons.length > 3">You have many friends! (exactly {{persons.length}})</p>

<fieldset>
  <legend>
    add new person
  </legend>
  <input type="textbox" #np placeholder="name of person" (keyup)="newPersonEvent($event, np)" />
  <button (click)="addPerson(np.value)">Add</button>
</fieldset>

<p>Friends:</p>
<ul>
  <li *For="#name of persons">
    <span style="display: inline-block;width:100px">{{name}}</span>
    <button (click)="deletePerson(name)" title="remove {{name}} from list">x</button>
  </li>
</ul>
